
<%= stylesheet_link_tag 'editprofile', media: 'all', 'data-turbolinks-track': 'reload'%>
  <div class="backtrack">
    <%= link_to "назад", :back %>
  </div>
  <div>
    <h2 class="none">Edit <%= resource_name.to_s.humanize %></h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  </div>

  <div class="grid-wrap">
    <div class="column1">
      <div class="pic-wrap">
        <img src="" alt="">
        <div><%= f.file_field :avatar %></div>
      </div>
      <div class="button-holder">
        <%= button_to "выйти" , destroy_user_session_path, method: :delete, class: "secondary-b" %>
        <%= button_to "удалить аккаунт", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "secondary-b" %>
      </div>
    </div>
    <div class="column2">
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autocomplete: "email", class: 'lnl' %>
      </div>
      <div class="field">
        <%= f.label :username %>
        <%= f.text_field :username, autocomplete: "username", class: 'lnl' %>
      </div>
    </div>
    <div class="column3">
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'lnl' %><br>
        <i>оставь поле пустым, если не меняешь, <br></i>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> знаков минимум</em>
        <% end %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'lnl' %>
      </div>
      <div class="field">
        <%= f.label :current_password %>
        <%= f.password_field:current_password, class: 'lnl' %><br>
        <i>чтобы мы точно знали, что это ты</i>
      </div>
      <%= f.submit "cохранить", :class => 'submit-form' %>
    </div>
  </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

    <div class="downrow">

      <% if signed_in? %>
      <% if current_user.isadmin? %>
        <h3> Вы админ?
        <%= f.check_box :isadmin %></h3>
      <% end %>
    <% end %>

    <% end %>


    </div>
