<div class="all_container">
  <div class="left_menu">
			<p class="second"><%= link_to "таймлайны", "../posts" %></p>
			<p><%= link_to "пользователи", users_path %></p>
			<p><%= link_to "категории", categories_path %></p>
			<p><%= link_to 'новый таймлайн', new_post_path %></p>
	</div>
  <div class="new">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    <div class="e_n">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'lnl' %>
      </div>

      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autocomplete: "username", class: 'lnl' %>
    </div>
    </div>


      <div class="field">
        <% if resource.avatar.attached? %>
          <% image_tag(resource.avatar) %>
        <% else %>
          <% image_tag("/default_profile.jpg") %>
          <% end %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> знаков минимум)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'lnl' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'lnl' %>
      </div>

      <div class="dothis">
        <div class="actions">
          <%= f.submit "Sign up", class: 'lol' %>
        </div>
      <% end %>
      <p>или</p>
      <div class="more">
        <%= render "devise/shared/links" %>
      </div>
      </div>
  </div>
</div>
