<%= stylesheet_link_tag 'logreg', media: 'all', 'data-turbolinks-track': 'reload'%>
<div class="actions">
  <h2>Регистрация</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :avatar %>
        <%= f.file_field :avatar %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'lnl' %>
      </div>

      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autocomplete: "username", class: 'lnl' %>
      </div>

      <div class="field fixed">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'lnl' %>
        <% if @minimum_password_length %>
        <br><em>(<%= @minimum_password_length %> знаков минимум)</em>
        <% end %>
      </div>

      <div class="field fixed">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'lnl' %>
      </div>


      <%= f.submit "зарегестрироваться", class: 'lol' %>

      <% end %>

      <div class="linked linked-op">
        <%= render "devise/shared/links" %>
      </div>

    </div>
