<div class="separate">
  <div class="uppercomment">
    <div class="">
      <%= link_to image_tag(User.find(comment.user_id).avatar.url, class: 'commenter'), comment.user %>
    </div>
    <div class="comment_body">
      <div class="comment_info">
        <p class="commenter_name">
          <%= User.find(comment.user_id).username %>
        </p>
        <span><%= time_ago_in_words(comment.created_at) %> назад</span>
      </div>

      <p class="comment_content">
        <%= comment.body %>
      </p>

      <div class="c_act">
        <% if user_signed_in? && current_user.id == comment.user_id  %>
        <p class="linkc">
          <%= link_to 'удалить', [comment.post, comment],
                       :confirm => 'Are you sure?',
                       :method => :delete %>
        </p>
        <% end %>
        <% if user_signed_in?  %>
        <p class="linkc">ответить</p>
        <% end %>
      </div>
    </div>

  </div>

  <div class="answer">
    <div class="comment_tie"></div>
    <div class="answer_line">
      <div class="">
        <%= link_to image_tag(User.find(comment.user_id).avatar.url, class: 'commenter'), comment.user %>
      </div>
      <div class="answer_input">
        <%= form_for([comment, comment.answers.build]) do |f| %>
          <div class="field">
            <%= f.text_area :body, placeholder: "Хочешь еще что-то сказать?" %>
          </div>
          <div class="answer_actions">
            <%= f.submit '', :class => 'send_comment' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="answers">
    <div class="comment_tie"></div>
    <div class="answer_body">
      <div class="">
        <%= link_to image_tag(User.find(comment.user_id).avatar.url, class: 'commenter'), comment.user %>
      </div>
      <div class="answer_content">
        <p class="commenter_name">
          doppelganger
        </p>
        <% comment.answers.each do |answer| %>
          <p class="answer_text">
            <%= answer.body %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
