<div class="separate">
  <div class="uppercomment">
    <div class="">
      <%= link_to image_tag(User.find(comment.user_id).avatar.url, class: 'commenter'), comment.user %>
    </div>
    <div class="comment_body">
      <div class="comment_info">
        <p class="commenter_name">
          <%= User.find(comment.user_id).username %>
        </p>
        <span><%= time_ago_in_words(comment.created_at) %> назад</span>
      </div>

      <p class="comment_content">
        <%= comment.body %>
      </p>

      <div class="c_act">
        <% if user_signed_in? && current_user.id == comment.user_id  %>
        <p class="linkc">
          <%= link_to 'удалить', [comment.post, comment],
                       :confirm => 'Are you sure?',
                       :method => :delete %>
        </p>
        <% end %>
        <% if user_signed_in?  %>
        <p class="linkc">ответить</p>
        <% end %>
      </div>
    </div>

  </div>
</div>
