<%= stylesheet_link_tag 'test', media: 'all', 'data-turbolinks-track': 'reload'%>

<div class="bread">
  <%= link_to 'назад', :back %>
  <p>/</p>
  <p>все пользователи</p>
</div>

<div>
  <table class="all_users">
    <tbody>
        <% @users.each do |user| %>
            <tr>
              <td>
                <div class="fh">
                  <%= image_tag(user.avatar.url, alt: 'Image', class: 'med') if user.avatar? %>
                  <%= link_to user.username, user %>
                </div>
              </td>
              <td>id: <%= link_to user.id, user %></td>
              <td><%= link_to user.email, user %></td>
              <td></td>
              <td><%= (user.isadmin) == true ? "админ" : "юзер" %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
