<%= stylesheet_link_tag 'usershow', media: 'all', 'data-turbolinks-track': 'reload'%>
<div class="all_container">


  <div class="pi">

    <div class="pinfo">
      <div class="ptinfo">
          <%= react_component 'A_PostAuthor', {user: @user}%>
        <div class="edit-pr">
          <% if user_signed_in? && @user.id == current_user.id %>
              <%= link_to 'Edit Profile', edit_user_registration_path %>
          <% elsif user_signed_in? && @user.id != current_user.id && current_user.isadmin %>
          <% end %>
        </div>
        <div class="other">
          <div class="a_tog">
            <% if user_signed_in? && current_user.isadmin == true && @user.id != current_user.id %>
                <div class="admin">
                  <%= link_to '', edit_user_path(@user) %>
                </div>
                <div class="akk">
                  <%= link_to "", user_path, data: { confirm: "Are you sure?" }, method: :delete %>
                </div>
            <% end%>
          </div>
          <div class="">
            <% if user_signed_in? && current_user.followees.include?(@user) && @user.id != current_user.id %>
                <h5><%= button_to "", unfollow_user_path, method: "POST", class: "filled smaller" %></h5>
            <% elsif user_signed_in? && @user.id != current_user.id %>
                <h5><%= button_to "", follow_user_path, method: "POST", class: "unfilled smaller"  %></h5>
            <% end%>
          </div>
        </div>
      </div>
    </div>

    <div class="statics">
      <div><p><%=  link_to @user.followers.count %></p> <p>подписчики</p> </div>
      <div><p><%= link_to @user.followees.count, following_path %></p> <p>подписки</p> </div>
      <div><p><%= @user.favorites.count %> <%= (@user.favorites.count) == 1 ? '' : ''%></p> <p>в избранном</p> </div>
    </div>

  </div>
  </div>

  <div class="pop" id="following">
    <div class="pop_c">
      <div class="ab">
        <h4>Подписки</h4>
        <div class="close_overlay"></div>
      </div>
      <%= @user.followees.each do |follow| %>

        <div class="f_row">
          <%= image_tag(follow.avatar.url, alt: 'Image', class: 'med') if follow.avatar? %>
          <p><%= follow.username %></p>
          <div class="">
            <% if user_signed_in? && current_user.followees.include?(follow) %>
                <h5><%= button_to "Отписаться", unfollow_user_path, method: "POST", class: "lol" %></h5>
            <% elsif user_signed_in? %>
                <h5><%= button_to "Подписаться", follow_user_path, method: "POST", class: "lol"  %></h5>
            <% end %>
          </div>
          <p>ntrndf</p>
        </div>
      <% end %>
    </div>
  </div>


  <div class="pop" id="followed_by">
    <div class="pop_c">
      <div class="ab">
        <h4>Подписчики</h4>
        <div class="close_overlay"></div>
      </div>
      <%= @user.followers.each do |u| %>
      <div class="f_row">
        <%= image_tag(u.avatar.url, alt: 'Image', class: 'med') if u.avatar? %>
        <%= u.username %>
        <div class="">
          <% if user_signed_in? && current_user.followees.include?(u) %>
              <h5><%= button_to "Отписаться", unfollow_user_path, method: "POST", class: "lol" %></h5>
          <% elsif user_signed_in? %>
              <h5><%= button_to "Подписаться", follow_user_path, method: "POST", class: "lol"  %></h5>
          <% end%>
        </div>
      </div>
      <% end %>

    </div>
  </div>

<% if user_signed_in? && current_user.isadmin == true && @user.id == current_user.id %>
  <div class="admin_panel">
    <h1 class="h1_g">Панель администратора:</h1>
    <div class="fav_list">
      <div class="u_f_row">
        <div class="divide">
          <div class="circe"></div>
          <p class="postname" id="us"><%= link_to "Все пользователи", users_path %></p>
        </div>
      </div>
      <div class="u_f_row">
        <div class="divide">
          <div class="zodiac"></div>
          <p class="postname" id="us"><%= link_to "Все категории", categories_path %></p>
        </div>
      </div>
    </div>
  </div>
<% end%>

  <div class="users_posts">
    <h1 class="h1_g">Твои таймлайны:</h1>
    <div class="secondblock">
    <% @user.posts.slice(0,3).each do |post| %>
      <%= link_to post do %>
      <div class="post_container">
        <div class="pic">
          <%= image_tag(post.image.url, alt: 'Image', class: 'cov') if post.image? %>
          <div class="pic_overlay"></div>
        </div>
        <div class="info">
          <p class="username_diff"><%= post.user.username %></p>
          <p class="postname"><%= post.name %></p>
          <p class="username"><%= post.user.username %></p>
          <p class="content"><%= post.content.html_safe %></p>
          <div className="content_diff_wrapper">
            <p class="content_diff"><%= post.content.html_safe %></p>
          </div>
        </div>
        <div class="overflow">
          <div class="gradient"></div>
          <div class="downinfo">
            <div class="stats">
              <div class="cached">
                <span><%= post.cached_votes_score %></span>
              </div>
              <div class="cc">
                <div class="comm-icon"></div>
                <span><%= post.comments.count %></span>
              </div>
            </div>
          </div>

        </div>

      </div>
      <% end %>
    <% end %>
    </div>
  </div>

  <%= react_component 'O_UserPost', {posts: @posts, user: @user}  %>

  <div class="user_favorites">
    <h1 class="h1_g">Избранное:</h1>
    <div class="fav_list">
      <% @posts.each do |post| %>
        <%= link_to post do%>
          <div class="u_f_row">
            <div class="divide">
              <div class="">
                <% if user_signed_in? %>
                      <% pre_favorite = post.favorites.find { |favorite| favorite.user_id == current_user.id} %>
                    <% if pre_favorite %>
                        <%= button_to '', post_favorite_path(post, pre_favorite), method: :delete, class: "filled" %>
                    <% else %>
                        <%= button_to '', post_favorites_path(post), method: :post, class: "unfilled" %>
                    <% end %>
                <% end %>
              </div>
              <div class="u_f_i">
                <p class="username" id="u"><%= post.user.username %></p>
                <p class="postname" id="us"><%= post.name %></p>
              </div>
            </div>
            <div class="u_r">
              <div class="votable" id="us_v">
                <% if current_user.voted_down_on? post %>
              <span>
                     <%= link_to unlike_post_path(post), class: "like", method: :put do %>
                     <p class="toggle sleep">-</p>
                     <% end %>
                   </span>
                <% else %>
                <span>
                     <%= link_to unlike_post_path(post), class: "like", method: :put do %>
                     <p class="toggle">-</p>
                     <% end %>
                   </span>
                 <% end %>
              <% end %>

              <span><%= post.cached_votes_score %></span>

                <% if user_signed_in? %>
                        <% if current_user.voted_up_on? post %>
                    <span>
                       <%= link_to like_post_path(post), class: "like", method: :put do %>
                         <p class="toggle sleep">+</p>
                       <% end %>
                     </span>
                    <% else %>
                    <span>
                       <%= link_to like_post_path(post), class: "like", method: :put do %>
                       <p class="toggle">+</p>
                       <% end %>
                     </span>
                    <% end %>
              </div>
            </div>
          </div>
      <% end %>
      <% end %>
    </div>
  <button class="secondary-b" id="w">все избранное</button>
  </div>
