<%= stylesheet_link_tag 'A_Input', media: 'all', 'data-turbolinks-track': 'reload'%>
<%= stylesheet_link_tag 'newpostform', media: 'all', 'data-turbolinks-track': 'reload'%>

<div class="backtrack">
  <%= link_to 'назад', :back%>
</div>

<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="image-select">
  	<%= form.file_field :image %>
  </div>

  <div class="form-top">
    <div class="field title">
      <h1>Название</h1>
      <%= form.text_field :name, placeholder: "Человек паук: нет пути домой" %>
    </div>
    <div class="field">
      <h1>Категория</h1>
      <%= form.select :category_id, Category.pluck(:name, :id) { :multiple => true} %>
    </div>
    <div class="field">
      <h1>Описание</h1>
      <%= form.text_area :content, placeholder: "Юный Спайдермен добивается места в команде Мстителей. Перезагрузка франшизы — теперь в киновселенной Marvel" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "сохранить", :class => 'submit-form' %>
  </div>
<% end %>
