<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <h1 class="fir">Обложка</h1>
  	<%= form.file_field :image %>
  </div>


  <div class="field">
    <h1>Название</h1>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <h1>Описание</h1>
    <%= form.text_area :content %>
  </div>


<div class="field">
  <h1>Категория</h1>
  <%= form.select :category_id, Category.pluck(:name, :id) { :multiple => true} %>
</div>



<div class="tagggggg">
  <%= form.label :tags %>
  <%= form.collection_select :tag_ids, tags, :id, :title, {}, multiple: true %>
</div>


  <div class="actions">
    <%= form.submit "Сохранить", :class => 'lol ev' %>
  </div>
<% end %>
