<%= stylesheet_link_tag 'postindex', media: 'all', 'data-turbolinks-track': 'reload'%>

<p id="notice"><%= notice %></p>

<!-- <h1>Posts</h1> -->


<div class="cats">
	<p><%= link_to "все", "../posts" %></p>
	<% Category.all.each do |cat| %>
		<%= link_to cat.name, posts_path(category: cat.name) %>
	<% end %>
</div>


<div class="all_container">

	<div class="left_menu">
			<p class="second"><%= link_to "таймлайны", "../posts" %></p>
			<p><%= link_to "пользователи", users_path %></p>
			<p><%= link_to "категории", categories_path %></p>
			<p><%= link_to 'новый таймлайн', new_post_path %></p>
	</div>

	<div class="all_post">
		<% @posts.each do |post| %>
			<%= link_to post do %>
			<div class="post_container">
				<div class="hov">

				</div>
				<div class="pic">
					<%= image_tag(post.image.url, class: 'fit-image', alt: 'Image') if post.image? %>
				</div>
				<div class="info">
					<p class="postname"><%= post.name %></p>
					<div class="downinfo">
						<div class="rating">
							<span><%= post.cached_votes_score %></span>
							<p>рейтинг</p>
						</div>
						<p>@<%= User.find(post.user_id).username %></p>
					</div>
				</div>
			</div>
			<% end %>
		<% end %>
	</div>
</div>
