<%= stylesheet_link_tag 'postindex', media: 'all', 'data-turbolinks-track': 'reload'%>

<p id="notice"><%= notice %></p>


<div class="filters">
	<input type="text" id="non_search" maxlength="10" placeholder="Поиск по категориям">


		<div class="all_categories">
			<% Category.where(display_in_navbar: true).each do |cat| %>
				<div class="category_tag">
					<div class="tag_star"></div>
						<%= link_to cat.name, request.params.merge(category: cat.id) %>
					<div class="tag_star"></div>
				</div>
			<% end %>
			<%= link_to "x", posts_path %>
		</div>
</div>

<div class="sorting">
	<p>Сортировка по:</p>
	<div class="sort_rate">
		<div class="sort_icon"></div>
		<p>рейтингу</p>
	</div>
	<p>комментариям</p>
	<p>дате</p>
</div>


<%= react_component 'O_AllPosts', {posts: @postcoms}  %>

<div class="pagination_wrapper">
	<%= will_paginate @posts, previous_label: "Назад" %>
</div>
