<%= stylesheet_link_tag 'postindex', media: 'all', 'data-turbolinks-track': 'reload'%>

<p id="notice"><%= notice %></p>

<div class="filters">
	<div class="semi_search">
		<%= form_tag posts_path, :method => 'get' do %>
				<%= text_field_tag :starts_with, params[:starts_with], placeholder: 'Поиск по таймлайнам...' %>
				<div class="index_search">
					<%= submit_tag "", :name => nil %>
				</div>
		<% end %>
	</div>

		<div class="all_categories">
			<% Category.where(display_in_navbar: true).each do |cat| %>
				<div class="category_tag">
					<div class="tag_star"></div>
						<%= link_to cat.name, request.params.merge(category: cat.id) %>
					<div class="tag_star"></div>
				</div>
			<% end %>
			<div class="res">
				<%= link_to "×", posts_path %>
			</div>
		</div>
</div>

<div class="sorting">
	<p>Сортировка по:</p>
	<div class="sort_rate">
		<div class="sort_icon"></div>
		<p>рейтингу</p>
	</div>
</div>


<%= react_component 'O_AllPosts', {posts: @postcoms}  %>

<div class="pagination_wrapper">
	<%= will_paginate @posts, previous_label: "Назад" %>
</div>
