<div class="all_container cey">
  <div class="left_menu">
      <p class="second"><%= link_to "таймлайны", "../posts" %></p>
      <p><%= link_to "пользователи", users_path %></p>
      <p><%= link_to "категории", categories_path %></p>
      <p class="ceyy"><%= link_to 'новый таймлайн', new_post_path %></p>
  </div>
  <div class="newpost">
    <%= render 'form', post: @post %>
  </div>
</div>
