<!DOCTYPE html>
<html>
  <head>
    <title>Fandot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'%>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <% current_user_id = -1 %>
    <%if current_user%>
      <%current_user_id= current_user.id%>
    <% end %>

  <body>
    <%= react_component 'O_header', {current_user: current_user, current_user_id: current_user_id}%>

    <%= link_to "Reset", posts_path %>
      <% Category.where(display_in_navbar: true).each do |cat| %>
      <%= link_to cat.name, request.params.merge(category: cat.id) %> |
    <% end %>

    <% User.all.each do |user| %>
      <%= link_to user.email, request.params.merge(user: user.id)  %> |
    <% end %>|

    <%= form_tag posts_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :starts_with, params[:starts_with] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>

    <%= react_component 'M_filters'%>


    <%= yield %>

    <%= react_component 'O_footer'%>

  </body>
</html>
